{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 50%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
</style>
<div class="center_screen">
    <p class="status" id="test" style="color:#2b1d11; font-family:times new roman;text-align:center; font-size:20px;">Hello, this is {{ name }}.</p>
    <p class="status" id="test" style="color:black; font-family:times new roman;text-align:center;font-size:15px">{{ content }}</p>
</div>
{% endblock %}